*.pyc
*.swp
*.swo
*DS_Store
.idea
mcts_evolutions/*
test_scripts/threaded_test_hierarchical_planner.py
mcts_evolutions
conveyor_belt/mcts_evolutions
mover_library/*.pyc
/*pyc
*temp/
./temp/*
*pyc
*core

