set number
map <C-c> "+yy
set expandtab 
set tabstop=2
set shiftwidth=2
setlocal spell spelllang=en_us
hi clear SpellBad
hi SpellBad cterm=underline

vmap <C-c> "+yi
vmap <C-x> "+c
vmap <C-v> c<ESC>"+p
imap <C-v> <C-r><C-o>+
